.kontakt{
margin-top:105px;
}

#greskaOpcina1
{
display:none;
}

#greskaOpcina2
{
display:none;
margin-left:10px;
}

#greskaBroj1
{
display:none;
}

#greskaBroj2
{
display:none;
margin-left:10px;
}

#wrapper
{
margin-top:20px;
}