*
{
padding:0px;
margin:0px;
}

#stranica
{
background: -moz-linear-gradient(top, #C9FFFE 0%, #FFFFFF 100%);
background: -webkit-linear-gradient(top, #4DEAFF 0%,#FFFFFF 100%); 
background: linear-gradient(top, #4DEAFF 0%, #FFFFFF 100%);
margin-left:auto;
margin-right:auto;
height:100%;
width:1000px;
}

#okvir
{
margin-left:auto;
margin-right:auto;
width:1000px;
}

#naslovnica
{
font-size:60px;
background:white;
text-align:center;
border-bottom:1px solid black;
border-left:1px solid black;
border-right:1px solid black;
box-shadow:5px 5px 5px #525252;
height:70px;
}

#logoNaslovnica
{
float:left;
margin-left:15px;
margin-top:5px;
}

.meni
{
font-size:25px;
position:relative;
left:50px;
top:35px;
padding:0px;
margin:0px;
background:white;
}

.meni ul
{
display:block;
list-style-type:none;
float:left;
}

.meni a
{
text-decoration:none;
color:black;
}

#izbor1
{
display:inline-block;
border-bottom:3px solid black;
}

#izbor2
{
display:inline-block;
border-bottom:3px solid red;
}

#izbor3
{
display:inline-block;
border-bottom:3px solid green;
}

#izbor4
{
display:inline-block;
border-bottom:3px solid orange;
}

.podmeni 
{
position:absolute;
display:none;
background:white;
font-size:20px;
width:100px;
left:38.1%;
border-bottom:3px solid green;
z-index:2;
}

#podmeni1
{
margin-left:6px;
}

#podmeni1 ul li a:hover
{
color:blue;
}

#login
{
text-align:left;
border-bottom:1px solid black;
border-left:1px solid black;
float:right;
font-size:20px;
width:100px;
height:30px;
position:relative;
bottom:68px;
}

#register
{
margin-top:5px;
border-bottom:1px solid black;
border-left:1px solid black;
text-align:left;
float:right;
position:relative;
bottom:40px;
left:101px;
font-size:20px;
width:100px;
height:30px;
}

#linkPrijava
{
text-decoration:none;
color:black;
}

#linkRegistracija
{
text-decoration:none;
color:black;
}



div#vijesti{
margin-top:105px;
}

.novostiOkvir{
position:relative;
overflow:auto;
border:1px solid black;
background-color:white;
width:400px;
height:600px;
top:20px;
}

.novostiSlika{
margin-top:20px;
padding-top:0px;
border-top:1px solid black;
float:left;
}

.novostiSlika img{
float:left;
width:200px;
height:50x;
}

.tabela{
text-align:center;
z-index:1;
position:relative;
left:43%;
bottom:590px;
width:55%;
}

#naslovTabele{
font-size:25px;
}

.detaljnije{
text-decoration:none;
color:blue;
background-color:rgb(250,170,170);
}
.ostatak{
position:absolute;
background-color:rgb(70,170,210);
left:500px;
top:225px;
}

#wrapper
{
margin-top:20px;
}

.tekst
{
background:white;
border-left:1px solid black;
border-right:1px solid black;
border-top:1px solid black;
}

.tabela{
border:1px solid black;
background-color:white;
}

.linkovi{
background-color:white;
font-size:15px;
}

.lista{
border-left:1px solid black;
border-right:1px solid black;
border-bottom:1px solid black;
background-color:white;
list-style-image:url('strelica.png');
list-style-position:inside;
font-size:20px;
padding-left:5px;
}

#greskaOpcina1
{
display:none;
}

#greskaOpcina2
{
display:none;
margin-left:10px;
}

#greskaBroj1
{
display:none;
}

#greskaBroj2
{
display:none;
margin-left:10px;
}