@import url(http://fonts.googleapis.com/css?family=Oswald);
html, body
{   
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;     
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(Pictures/Background10.jpg) no-repeat center fixed;
	background-size: cover;
    
    
}

.Okvir
{
    margin: 0 auto;
    overflow: auto;
}

.Mreza
{
    margin: 0 auto;
    float: left;
    overflow: auto;
    position: absolute;
    top:  150px;
    left: 50px;
    width:  50px;
}

#SlikaFb
{
    height: 30px;
}


.Zaglavlje
{
    background: black;
    border-top: 4px solid #f7e90c;
    height: 72px;
    margin-bottom: 10pt;
    padding-left: 200pt;
}

.Meni
{
    float: left;
    width: 88%;
    margin: 0;
    margin-left: 6%;
    padding: 0;
    margin-bottom: 10pt;
    
}

.Meni ul
{
    list-style: none;
    float: left;
    margin: 0;
	margin-left: 195pt;
    padding: 0;
}

.Meni li
{

    color: rgba(250,250,250,1); 
    
    text-align:  center;
    vertical-align: middle;
    
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 57px;
    padding-top: 15px;
    width: 125px;
}

.Meni ul > li > a:link,
.Meni ul > li > a:visited
{
    display: inline-block;
	text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
}

.Meni ul > li a:hover
{
    font-size: 15pt;
    font-weight: 700;
}

#pocetna .Meni ul > #pocetna
{
    background-color: #f7e90c;
}

#servis .Meni ul > #servis_li
{
    background-color: #f7e90c;
}

#tehpregled .Meni ul > #tehpregled
{
    background-color: #f7e90c;
}

#popravke .Meni ul > #popravke
{
    background-color: #f7e90c;
}

#prodaja .Meni ul > #prodaja
{
    background-color: #f7e90c;
}

#onama .Meni ul > #onama
{
    background-color: #f7e90c;
}

#kontakt .Meni ul > #kontakt
{
    background-color: #f7e90c;
}

/*Komentariiii*/
.Meni ul li ul
{
    margin: 0;
    padding: 0;
    margin-top: 20pt;
    width: 121px;
    position: absolute;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    border-left: 4px solid #f7e90c;
}

.Meni ul li ul li
{
    float: none;
    display: block;
}

.Meni ul li ul li a
{	
    width: inherit;
    text-align: center;
    vertical-align: central;
}

#podmeni
{
    font-size: 12pt;
    font-style: normal;
    font-weight: 400;
}

.Meni ul li ul li:hover
{
    font-size: 15pt;
    font-weight: 700;
    background-color: #f7e90c;
}

/*Komentarii*/



.Logotip
{
    margin: 0 auto;
    float: left;
    overflow: auto;
    position: absolute;
    top:  0px;
    left: 115px;
    width:  150px;
}

.Logotip img
{
    position: absolute;
    left: 10px;
}

.Logotip h3
{
    text-align: center;
    vertical-align: bottom;
    color: rgba(250,250,250,1);
    font-weight: 300;
    margin-top: 55px;
}

.GlavniDio
{
    margin: 0 auto;
    overflow: auto;
    margin-top: 15pt;
    padding: 0;
}

.DesniDio
{
    float: left;
    width: 35%;

}


.Kontakt
{
    margin-left: 100pt;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8) url(Pictures/main-bg.png) repeat;
    
    color: rgba(250,250,250,1);
    padding-left: 40px;
}

.Kontakt > h3
{
    text-align: center;
}

.SlikaLocation
{
    float: left;
    margin-left: -27px;
    margin-top: -42px;
}

.SlikaTelefon
{
    float: left;
    margin-left: -27px;
    margin-top: -42px;
}

.SlikaRadnoVrijeme
{
    float: left;
    margin-left: -27px;
    margin-top: -32px;
}

.SlikaMail
{
    float: left;
    margin-left: -27px;
    margin-top: -32px;
}


.Mapa
{
    margin-left: 100pt;
    margin-top: 10pt;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8) url(Pictures/main-bg.png) repeat;
    
    color: rgba(250,250,250,1);
    padding-left: 40px;
}

.Mapa > h3
{
    text-align: center;
}

.MapaUpute
{
    position:  relative;
    left: -20pt;
    margin: 0pt;
}



.SredinaDio
{
    float: right;
    width: 55%;
    margin-right: 90pt;
    
    
    background: rgba(0, 0, 0, 0.8) url(Pictures/main-bg.png) repeat;
    
    color: rgba(250,250,250,1);
    padding-left: 6px;
}

.DonjiDio
{
    margin: 0 auto;
    overflow: auto;
    margin-top: 10pt;
    padding: 0;
    height: 82px;
    
    background: #000;
    color: rgba(250,250,250,1);
    border-bottom: 4px solid #f7e90c;
    
    padding-left: 6px;
    text-align: center;
}

.Clanak
{
    overflow: auto;
    
    position: relative;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    background:rgba(22, 22, 25,0.6);
    color: rgba(250,250,250,1);
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    
    
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    border: 1px solid;
}

.Clanak img
{
    width:  30%;
    
    height: 40%;
    margin: 5px;
    float: left;
    margin-top: 20px;    
}

.Clanak p
{
    text-align: justify;
    margin-top: 40px;
}

.Clanak a
{
    float: right;
    text-decoration: none;
    color: #ff004e;
    margin-bottom: 5px;
}

.Clanak a:hover
{
    color: #fff;
}

.Clanak h6
{
    font-weight: 300;
    font-size: 9pt;
    float: right;
    margin-top: 15px;
}










/*About dio*/

.Clanak_about
{
    overflow: auto;
    
    position: relative;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    background:rgba(22, 22, 25,0.6);
    color: rgba(250,250,250,1);
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    
    
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    border: 1px solid;
}

.Clanak_about img
{
    width:  30%;
    
    height: 30%;
    margin: 5px;
    float: left;
    
}

.Clanak_about p
{
    text-align: justify;
}


.Partneri_about ul
{
    list-style-image: url(Pictures/arrow_right.png);
    
    
}

.Partneri_about
{
    margin-left: 100pt;
    margin-top: 10pt;
    overflow: auto;
    
    background: rgba(0, 0, 0, 0.8)  url(Pictures/main-bg.png) repeat;
    
    color: rgba(250,250,250,1);
    padding-left: 6px;
}

.Partneri_about > h3
{
    text-align: center;
}

.Partneri_about ul > li > a:link,
.Partneri_about ul > li > a:visited
{
    display: inline-block;
	text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
}







/*Kontakt dio*/

.SredinaDio #naslov_about
{
    padding-left: 20px;
    line-height: 10px;
}

.SredinaDio #naslov_about2
{
    padding-left: 20px;
    line-height: 10px;
}

.SredinaDio #naslov_about3
{
    padding-left: 20px;
    line-height: 10px;
}

.KontaktForma
{
    float: left;
    padding: 20px;
    padding-top: 0px;
    padding-right: 60px;
    
    margin-left: 40px;
    
    background:rgba(22, 22, 25,0.6);
    color: rgba(250,250,250,1);
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.PitanjeForma
{
    float: right;
    padding: 20px;
    padding-top: 0px;
    padding-right: 60px;
    
    margin-right: 80px;
    margin-bottom: 20px;    
    
    background:rgba(22, 22, 25,0.6);
    color: rgba(250,250,250,1);
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}






/*Tehnički pregled*/

.TehnickiPregledDio
{
    padding: 10pt;
    margin: 20pt;
    
    background:rgba(22, 22, 25,0.6);
    color: rgba(250,250,250,1);
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.PregledTabela 
{
    border: 2px solid white;
}

table, tr, td
{    
    color: rgba(232, 232, 232,1);
    text-align: center;
    border: 2px solid white;
    border-collapse: collapse;
}
