@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Stalemate);


#okvir {
width : 900px;
height : auto;
margin-left : auto;
margin-right : auto;
background-color : #F1F1F1;
font-family : PT Sans;
}
#meni > ul > li {
display : inline;
vertical-align : middle;
}
#meni {
text-align : center;
background-color : #2B3849;
color : green;
font-family : Stalemate;
font-size : 200%;
}
#zaglavlje {
background : url('graduate.png') 15% no-repeat;
background-position : left;
width : 600px;
height : 150px;
float : left;
text-align : right;
color : #01A0D7;
font-size : 22pt;
font-family : Stalemate;
}

#lijevo {
background-color : #267794;
height : auto;
width : 205px;
float : left;
text-align : left;
}

#email_error{
background: url("warning.png") 0% no-repeat;
}

#name_error{

	background: url("warning.png") 0% no-repeat;
}

#text_error{

	background: url("warning.png") 0% no-repeat;
}

#lijevo  h2{
text-align : center;
}

#lijevo ul {
list-style : none;
}
#lijevo ul li {
display : table;
}
#lijevo a{
color: white;
}
#lijevo a:hover{
color: #01A0D7;
}

#glavni {
height : auto;
width : 480px;
float : left;
padding-left : 4px;
}

#desno {
text-align : left;
background-color : #267794;
width : 205px;
float : right;
padding-left : 4px;
}

#desno  h2{
	text-align : center;
	color: white;
}

#tablica {
text-align : center;
}

article {
border-style : solid;
border-width : medium;
border-color : white;
padding-left : 2px;
}

#podnozje {
background-color : #2B3849;
color : white;
width : auto;
clear : both;
text-align : left;
}

a {
color : white;
padding-left : 25px;
text-decoration : none;
font-weight : bold;
}

a:visited {
color : silver;
text-decoration : none;
}
a:hover {
color : #01A0D7;
text-decoration : none;
}

form {
width : 500px;
margin : 0 auto;
}

footer {
text-align : right;
}

#lighter {
width : 300px;
height : 150px;
float : right;
}

.search {
padding : 6px 15px 6px 30px;
margin-top : 100px;
margin-left : 70px;
background : url('search.png') 8px 6px no-repeat;
}

.rounded {
border-radius : 15px;
}

input[type="text"] {
color : #bcbcbc;
}

ul {
list-style : none;
}

.lighter input[type="text"] {
border : #d0d0d0 solid 1px;
background-color : #fcfcfc;
}

#tekst {
width : 800px;
height : auto;
margin-left : auto;
margin-right : auto;
}

#tekst h1 {
text-align : center;
}

#tekst img {
display : block;
margin-left : auto;
margin-right : auto;
}

#smjerovi_tabela {
text-align : center;
}

ul.a {
list-style-type : circle;
list-style-position : outside;
}

input, textarea {
padding : 10px;
border : #E5E5E5 solid 1px;
width : 200px;
color : #999999;
box-shadow : 0 0 8px rgba(0, 0, 0, 0.1);
}

textarea {
width : 400px;
height : 150px;
max-width : 400px;
line-height : 18px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
box-shadow : 0 0 8px rgba(0, 0, 0, 0.2);
}

.form label {
margin-left : 10px;
color : #999999;
}

.submit input {
width : 100px;
height : 40px;
background-color : #2B3849;
color : #FFF;
border-radius : 3px;
}

.prihvati input { 
width : 200px;
height : 40px;
background-color : #2B3849;
color : #FFF;
border-radius : 3px;
}

#greska_skola{
color : red;
}

#knjige{
text-align: center;
}

#unos_knjige{
 display: none;
}

#brisanje_knjige{
 display: none;
}